 <header></header>
<a class="pointer"><i class="fa fa-home">Go Back</i></a>

<div class="account-details-container">
<div>account details component</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Amount(Rs)</th>
            <th>DateTime</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sugar</td>
            <td>1 kg sugar</td>
            <td>50</td>
            <td>10/10/2017 5:06</td>
            <td>Edit/Reject</td>
        </tr>
    </tbody>
</table>
<div><span class="pull-right">Net Amount: 50 Rs</span></div>
</div>



