<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <header></header>
    <div class="container">
        <div *ngIf="accounts?.length==0" class="jumbotron">
            <h1 class="align-center">No Accounts....</h1>
            <h2>Press <b>+Account</b> button to create a account</h2>
            <div>
                <createAccount></createAccount>
            </div>

        </div>

        <div *ngIf="accounts?.length>0">
            <div class="create-account-control">
                <createAccount (createAccount)="createAccount($event)"></createAccount>
            </div>
            <div class="accountlist">
            
                <ul class="wm-list clearfix">
                    <li class="pointer" *ngFor="let account of accounts" (click)="gotoAccountDetails(account)" title="click to go for account details">
                        <div class="wm-list-lf">
                            {{account.name}}
                        </div>
                        <div class="wm-list-rt">
                            <a href="#" title="Edit" (click)="updateAccount(account)">
    					<i class="fa fa-pencil-square-o"></i>
    				</a>
                            <a href="#" title="Delete" (click)="deleteAccount(account)">
    					<i class="fa fa-trash"></i>
    				</a>
                        </div>
                    </li>

                </ul>
            </div>

        </div>


    </div>
</body>

</html>