<!--<ul>
  <li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }"> {{item}} </li>
</ul>

<pagination-controls (pageChange)="p = $event"></pagination-controls>-->

<!--<div class="container">-->

<!--<ul>
  <li class="nav-card"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
  <li class="nav-card"><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
</ul>
<router-outlet></router-outlet>-->
<!--</div>-->

<!--<account></account>-->

<router-outlet></router-outlet>